title{
  display: block;
  font-family: arial;
  text-align: left;
}



body{
    width:400px;
    height:400px;
    margin: 110px auto;
    background-color: white;
    font-family:sans-serif;
    color: #374171;
}

.border{
  width:350px;
  height:350px;
  margin:auto auto;
  background: linear-gradient(white, #C3CEEE)
}

input[type=text]{
  width:200px;
}

.button{
  margin-top: 30px;
  margin-left: 138px;
}

button{
  color: white;
  background-color: #50AC40;
}
